@using System.Configuration
@model dynamic

@{
    ViewBag.Title = "TfL Live Bikes";
}

@section scripts {
    <script type="text/javascript">

        function getBikeData() {

            jdunkerley.utils.logMessage('getBikeData', 'Bike Data Fetching');
            $.ajax({
                url: '@Url.Action("GetBikesData")',
                type: 'post'
            }).done(function(data) {

                jdunkerley.utils.logMessage('getBikeData', 'Bike Data Fetched');

                if (jdunkerley.tableau) {

                    jdunkerley.tableau.dataCallback(data, -1);

                }
                $('#data').text(JSON.stringify(data));

            }).error(function(xhr) {

                jdunkerley.utils.logMessage('getBikeData', 'Bike Data Failed: ' + JSON.stringify(xhr));

            });

        }

        $(document).ready(function() {

            'use strict';

            jdunkerley.utils.auditMessage('UserAgent', navigator.userAgent);

            /* Link on screen message box */
            var currentLogger = jdunkerley.utils.consoleLog;
            jdunkerley.utils.consoleLog = function(msg) {

                $('#message').text(msg);
                currentLogger(msg);

            };

            jdunkerley.utils.setupPage();

            /* Tableau Mode */
            if (jdunkerley.tableau) {

                jdunkerley.tableau.columns = ['id', 'commonName', 'terminalName', 'latitude', 'longitude', 'installed', 'locked', 'installDate', 'removalDate', 'temporary', 'bikes', 'spaces', 'docks', 'modified'];
                jdunkerley.tableau.types = ['int', 'string', 'int', 'float', 'float', 'bool', 'bool', 'datetime', 'datetime', 'bool', 'int', 'int', 'int', 'datetime'];

                jdunkerley.utils.auditMessage('Ready', 'Tableau Mode');

                /* Wire Up Submit */
                $('#submit').on('click', function(e) {

                    e.preventDefault();
                    jdunkerley.tableau.submit();

                });

                /* Wire Up Data Callback */
                jdunkerley.tableau.fetchData = getBikeData;

            } else {

                $('#submit').on('click', function (e) {

                    e.preventDefault();
                    getBikeData();

                });


            }

        });

    </script>
@if (Request.Url.IsLoopback)
{
    <script type="text/javascript">

        jdunkerley.utils.consoleLog = jdunkerley.utils.loopBackLog;
        jdunkerley.utils.showAuditLog = true;

    </script>
}
}


<h2>TfL Bikes</h2>

<div id="submitRow">
    <div class="col-md-12">
        <input type="submit" value="Submit To Tableau" id="submit" />
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <strong>Status: </strong>
        <span id="message"></span>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <pre id="data"></pre>
    </div>
</div>
