@{
    ViewBag.Title = "Tableau Connectors";
}

@section scripts {
    <script type="text/javascript" src="~/Scripts/Home/Index.js"></script>
@if (Request.Url.IsLoopback)
{
    <script type="text/javascript">

        jdunkerley.utils.consoleLog = jdunkerley.utils.loopBackLog;
        jdunkerley.utils.showAuditLog = true;

    </script>
}
}

<div class="row">
    <div class="col-md-4">
        <div class="form-group">
            <label for="quandlAPIKey">API Key</label>
            <input type="text" class="form-control catchReturn" id="quandlAPIKey" placeholder="Enter your API key">
        </div>
    </div>
    <div class="col-md-8">
        <div class="form-group">
            <label for="quandlCode">Quandl Code</label>
            <input type="text" class="form-control catchReturn" id="quandlCode" placeholder="Quandl Code or Search">
        </div>
    </div>
</div>
<div class="row hidden" id="submitRow">
    <div class="col-md-12">
        <input type="submit" value="Submit To Tableau" id="submit"/>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <strong>Status: </strong>
        <span id="message"></span>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <h3 id="matches"></h3>
        <ul id="matchList"></ul>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <pre id="data"></pre>
    </div>
</div>
